{% extends 'base.html' %} {% load static %} {% block content %}
<div class='container'>
    <div class="card devices-list">
        <div class="device col-3">
            <div class="card-header device-title">
                Samsung-galaxy-note20
            </div>
            <div class="card-body device-image">
                <img src="{% static 'img/samsung-galaxy-note20.jpg' %}">
            </div>
            <div class="card-footer btn-card-devices">
                <a href="#"><span class="label label-primary">Details</span></a>
                <a href="#"><span class="label label-success">Request</span></a>
            </div>
        </div>
        <div class="device col-3 ">
            <div class="card-header device-title">
                Samsung-galaxy-note20
            </div>
            <div class="card-body device-image">
                <img src="{% static 'img/samsung-galaxy-note20.jpg' %}">
            </div>
            <div class="card-footer btn-card-devices">
                <a href="#"><span class="label label-primary">Details</span></a>
                <a href="#"><span class="label label-success">Request</span></a>
            </div>
        </div>
        <div class="device">
            <div class="card-header device-title">
                Samsung-galaxy-note20
            </div>
            <div class="card-body device-image">
                <img src="{% static 'img/samsung-galaxy-note20.jpg' %}">
            </div>
            <div class="card-footer btn-card-devices">
                <a href="#"><span class="label label-primary">Details</span></a>
                <a href="#"><span class="label label-success">Request</span></a>
            </div>
        </div>
        <div class="device">
            <div class="card-header device-title">
                Huawei-p20-lite
            </div>
            <div class="card-body device-image">
                <img src="{% static 'img/huawei-p20-lite.jpg' %}">
            </div>
            <div class="card-footer btn-card-devices">
                <a href="#"><span class="label label-primary">Details</span></a>
                <a href="#"><span class="label label-success">Request</span></a>
            </div>
        </div>
        <div class="device">
            <div class="card-header device-title">
                Huawei-p20-lite
            </div>
            <div class="card-body device-image">
                <img src="{% static 'img/huawei-p20-lite.jpg' %}">
            </div>
            <div class="card-footer btn-card-devices">
                <a href="#"><span class="label label-primary">Details</span></a>
                <a href="#"><span class="label label-success">Request</span></a>
            </div>
        </div>
        <div class="device">
            <div class="card-header device-title">
                Huawei-p20-lite
            </div>
            <div class="card-body device-image">
                <img src="{% static 'img/huawei-p20-lite.jpg' %}">
            </div>
            <div class="card-footer btn-card-devices">
                <a href="#"><span class="label label-primary">Details</span></a>
                <a href="#"><span class="label label-success">Request</span></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}