{% extends 'base.html' %} {% load static %} {% block title %} Samsung Note 20 {% endblock title %} {% block content %}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Samsung Note 20</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">


            <div class="col-md-10">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="/">Home</a>
                        <a href="#">Samsung</a>
                        <a href="">Samsung Note 20</a>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src="{% static 'img/samsung-galaxy-note20.jpg' %}" alt="">
                                </div>

                                <div class="product-gallery">
                                    <img src="{% static 'img/product-thumb-1.jpg' %}" alt="">
                                    <img src="{% static 'img/product-thumb-2.jpg' %}" alt="">
                                    <img src="{% static 'img/product-thumb-3.jpg' %}" alt="">
                                    <img src="{% static 'img/product-thumb-4.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">Samsung Note 20</h2>
                                <div class="product-inner-price">
                                    <ins>$1000.00</ins> <del>$1200.00</del>
                                </div>

                                <form action="" class="cart">
                                    <div class="quantity">
                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                    </div>
                                    <button class="add_to_cart_button" type="submit">Add to cart</button>
                                </form>

                                <div class="product-inner-category">
                                    <p>Category: <a href="">Samsung</a>. Tags: <a href="">awesome</a>, <a href="">best</a>, <a href="">sale</a>, <a href="">shoes</a>. </p>
                                </div>

                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Features</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Spares</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Mobile Features</h2>
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr class="techSpecRow">
                                                        <th colspan="2">Mobile Details</th>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Model:</td>
                                                        <td class="techSpecTD2">SM-N980F, SM-N980F/DS</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Technology:</td>
                                                        <td class="techSpecTD2"> GSM / CDMA / HSPA / EVDO / LTE</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Announced:</td>
                                                        <td class="techSpecTD2"> 2020, August 05</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Status:</td>
                                                        <td class="techSpecTD2"> Available. Released 2020, August 21</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Dimensions:</td>
                                                        <td class="techSpecTD2">
                                                            161.6 x 75.2 x 8.3 mm (6.36 x 2.96 x 0.33 in)</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Weight:</td>
                                                        <td class="techSpecTD2"> GSM / CDMA / HSPA / EVDO / LTE</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Build:</td>
                                                        <td class="techSpecTD2">Glass front (Gorilla Glass 5), plastic back</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Sim:</td>
                                                        <td class="techSpecTD2"> Single SIM (Nano-SIM and/or eSIM) or Hybrid Dual SIM (Nano-SIM, dual stand-by)</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Display Type:</td>
                                                        <td class="techSpecTD2">Super AMOLED Plus, HDR10+</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Display size:</td>
                                                        <td class="techSpecTD2">6.7 inches, 108.4 cm2 (~89.2% screen-to-body ratio)</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Display Resolution:</td>
                                                        <td class="techSpecTD2">1080 x 2400 pixels, 20:9 ratio (~393 ppi density)</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Display Protection:</td>
                                                        <td class="techSpecTD2">Corning Gorilla Glass 5</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">OS:</td>
                                                        <td class="techSpecTD2">Android 10, upgradable to Android 11, One UI 3.0</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Chipset:</td>
                                                        <td class="techSpecTD2">Exynos 990 (7 nm+) - Global Qualcomm SM8250 Snapdragon 865 5G+ (7 nm+) - USA
                                                        </td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">CPU:</td>
                                                        <td class="techSpecTD2">
                                                            Octa-core (2x2.73 GHz Mongoose M5 & 2x2.50 GHz Cortex-A76 & 4x2.0 GHz Cortex-A55) - Global Octa-core (1x3.0 GHz Kryo 585 & 3x2.42 GHz Kryo 585 & 4x1.8 GHz Kryo 585) - USA

                                                        </td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">GPU:</td>
                                                        <td class="techSpecTD2">
                                                            Mali-G77 MP11 - Global Adreno 650 - USA
                                                        </td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Card slot:</td>
                                                        <td class="techSpecTD2">No</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Internal:</td>
                                                        <td class="techSpecTD2">256GB 8GB RAM</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Main Camera :</td>
                                                        <td class="techSpecTD2">
                                                            12 MP, f/1.8, 26mm (wide), 1/1.76", 1.8µm, Dual Pixel PDAF, OIS 64 MP, f/2.0, 27mm (telephoto), 1/1.72", 0.8µm, PDAF, OIS, 3x hybrid zoom 12 MP, f/2.2, 120˚, 13mm (ultrawide), 1/2.55", 1.4µm
                                                        </td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Features:</td>
                                                        <td class="techSpecTD2">LED flash, auto-HDR, panorama</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Video:</td>
                                                        <td class="techSpecTD2">8K@24fps, 4K@30/60fps, 1080p@30/60/240fps, 720p@960fps, HDR10+, stereo sound rec., gyro-EIS & OIS</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Selfie Camera:</td>
                                                        <td class="techSpecTD2">10 MP, f/2.2, 26mm (wide), 1/3.2", 1.22µm, Dual Pixel PDAF</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Features:</td>
                                                        <td class="techSpecTD2">Dual video call, Auto-HDR</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Video:</td>
                                                        <td class="techSpecTD2">4K@30/60fps, 1080p@30fps</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">SOUND:</td>
                                                        <td class="techSpecTD2">Loudspeaker Yes, with stereo speakers 3.5mm jack=No
                                                        </td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">WLAN:</td>
                                                        <td class="techSpecTD2">
                                                            Wi-Fi 802.11 a/b/g/n/ac/6, dual-band, Wi-Fi Direct, hotspot
                                                        </td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Bluetooth:</td>
                                                        <td class="techSpecTD2">5.0, A2DP, LE, aptX</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">GPS:</td>
                                                        <td class="techSpecTD2">Yes, with A-GPS, GLONASS, BDS, GALILEO</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">NFC:</td>
                                                        <td class="techSpecTD2">Yes</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Radio:</td>
                                                        <td class="techSpecTD2">FM radio (Snapdragon model only; market/operator dependent)</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">USB:</td>
                                                        <td class="techSpecTD2">USB Type-C 3.2, USB On-The-Go</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Sensors:</td>
                                                        <td class="techSpecTD2">Fingerprint (under display, ultrasonic), accelerometer, gyro, proximity, compass, barometer</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">BATTERY Type:</td>
                                                        <td class="techSpecTD2">Li-Ion 4300 mAh, non-removable</td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Charging:</td>
                                                        <td class="techSpecTD2">Fast charging 25W Fast Qi/PMA wireless charging 15W USB Power Delivery 3.0 Reverse wireless charging 4.5W
                                                        </td>
                                                    </tr>
                                                    <tr class="techSpecRow">
                                                        <td class="techSpecTD1">Colors:</td>
                                                        <td class="techSpecTD2">Mystic Green, Mystic Bronze, Mystic Gray, Mystic Red, Mystic Blue</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <p>Mauris placerat vitae lorem gravida viverra. Mauris in fringilla ex. Nulla facilisi. Etiam scelerisque tincidunt quam facilisis lobortis. In malesuada pulvinar neque a consectetur. Nunc aliquam gravida purus,
                                                non malesuada sem accumsan in. Morbi vel sodales libero.</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <h2>Spares</h2>
                                            <div class="row spares">
                                                <div class="col-3 spare_card">
                                                    <div class="card spare_card">
                                                        <div class="card-header text-center">
                                                            Screen
                                                        </div>
                                                        <div class="card-body">
                                                            <img src="{% static 'img/note20-lcd.jpg' %}">
                                                            <p class="btn-primary">Request</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-3 spare_card">
                                                    <div class="card spare_card">
                                                        <div class="card-header text-center">
                                                            Battery
                                                        </div>
                                                        <div class="card-body">
                                                            <img src="{% static 'img/note_20_battery.jpg' %}">
                                                            <p class="card-text"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="related-products-wrapper">
                        <h2 class="related-products-title">Related Products</h2>
                        <div class="related-products-carousel">
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="img/product-1.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>

                                <h2><a href="">Sony Smart TV - 2015</a></h2>

                                <div class="product-carousel-price">
                                    <ins>$700.00</ins> <del>$800.00</del>
                                </div>
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="img/product-2.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>

                                <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                                <div class="product-carousel-price">
                                    <ins>$899.00</ins> <del>$999.00</del>
                                </div>
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="img/product-3.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>

                                <h2><a href="">Apple new i phone 6</a></h2>

                                <div class="product-carousel-price">
                                    <ins>$400.00</ins> <del>$425.00</del>
                                </div>
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="img/product-4.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>

                                <h2><a href="">Sony playstation microsoft</a></h2>

                                <div class="product-carousel-price">
                                    <ins>$200.00</ins> <del>$225.00</del>
                                </div>
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="img/product-5.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>

                                <h2><a href="">Sony Smart Air Condtion</a></h2>

                                <div class="product-carousel-price">
                                    <ins>$1200.00</ins> <del>$1355.00</del>
                                </div>
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="img/product-6.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>

                                <h2><a href="">Samsung gallaxy note 4</a></h2>

                                <div class="product-carousel-price">
                                    <ins>$400.00</ins>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2">

            </div>
        </div>
    </div>
</div>


<div class="footer-top-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2>e<span>Electronics</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit,
                        debitis, quisquam. Laborum commodi veritatis magni at?</p>
                    <div class="footer-social">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">User Navigation </h2>
                    <ul>
                        <li><a href="">My account</a></li>
                        <li><a href="">Order history</a></li>
                        <li><a href="">Wishlist</a></li>
                        <li><a href="">Vendor contact</a></li>
                        <li><a href="">Front page</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Categories</h2>
                    <ul>
                        <li><a href="">Mobile Phone</a></li>
                        <li><a href="">Home accesseries</a></li>
                        <li><a href="">LED TV</a></li>
                        <li><a href="">Computer</a></li>
                        <li><a href="">Gadets</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-newsletter">
                    <h2 class="footer-wid-title">Newsletter</h2>
                    <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                    <div class="newsletter-form">
                        <input type="email" placeholder="Type your email">
                        <input type="submit" value="Subscribe">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright">
                    <p>&copy; 2015 eElectronics. All Rights Reserved. Coded with <i class="fa fa-heart"></i> by <a href="http://wpexpand.com" target="_blank">WP Expand</a></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="footer-card-icon">
                    <i class="fa fa-cc-discover"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-paypal"></i>
                    <i class="fa fa-cc-visa"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
